/* Cores */
:root {
    --cor-coral: #FF8C94;
    --cor-branco: #FFFFFF;
    --cor-contraste: #5B2E91; 
}

/* Layout */
body{
    background-color: #FFFFFF;
}
#container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-pet {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
    width: 100%;
    height: 35rem;
    background-color: var(--cor-contraste);
}

/* Componentes Menu topo*/
.menu-topo {
    margin-right: 10rem;
    margin-top: 0.5rem;
}
.menu-topo a {
    color: var(--cor-contraste);
    font-family: "Mont";
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: none;
    position: relative; 
}
.menu-topo a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 2px; 
    width: 0; 
    background-color: var(--cor-coral); 
    transition: width 0.3s ease; 
}
.menu-topo a:hover::after {
    width: 100%; 
}

/* Componentes Main */
#pet-container{
    display: flex;
    border-radius: 0px 20px 20px 20px;
    margin-top: 1.5rem;
    width: 50rem;
    height: 20rem;
    background-color: var(--cor-branco);
    margin-left: 4rem;
    
}
.pet-photo {
    position: relative;
    width: 310px; /* Ajuste conforme necessário */
    height: 310px; /* Ajuste conforme necessário */
    overflow: hidden;
    cursor: pointer;
}
#petImage{
    border-radius: 0px 20px 20px 20px;
}
.pet-photo img {
    margin-left: 0.5rem;
    position: relative;
    top: 0.5rem;
    width: 100%; /* Para que a imagem cubra toda a div */
    height: 100%;
    object-fit: cover; /* Para manter a proporção da imagem */
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white; /* Ajuste a cor conforme necessário */
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

#name-pet{
    display: flex;
    justify-content: center;
    width: 20rem;
    color: var(--cor-contraste);
    position: relative;
    margin-left: 5rem;
    margin-top: 1.5rem;
    top: 0.3rem;
    font-family: "Cremy";
    font-size: 2rem;
}
#name {
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -3.2rem;
    left: 13rem;
    color: var(--cor-coral);
}
#age-pet{
    position: relative;
    font-family: "Mont";
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--cor-contraste);
    left: 12rem;
    top: -2.0rem;
}
#age {
    font-family: "Mont";
    font-size: 1.1rem;
    position: relative;
    top: -4.85rem;
    left: 13rem;
    color: var(--cor-coral);
}
#species-pet{
    position: relative;
    top: 1rem;
    font-family: "Mont";
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--cor-contraste);
}
#species{
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -1.8rem;
    left: 1.9rem;
    color: var(--cor-coral);
}
#race-pet{
    position: relative;
    top: -5.3rem;
    font-family: "Mont";
    font-size: 1.5rem;
    left: 21.5rem;
    color: var(--cor-contraste);
}
#race{
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -8rem;
    left: 23rem;
    color: var(--cor-coral);
}
#description p{
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -12rem;
    left: 1.8rem;
    color: var(--cor-coral);  
}
#description-pet{
    position:  relative;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
    top: -3.5rem;
    left: 1.8rem;
    width: 25rem;
    height: 7rem;
}

#Enviar-form{
    height: 50px;
    width: 200px;
    position: relative;
    left: 29rem;
    background-color: var(--cor-coral);
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: var(--cor-branco);
    font-weight: 800;
    letter-spacing: 4px;
}

/* Inputs cadastro */
.input-style {
    width: auto;
    height: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
#inputs-pet label{
    font-family: "Mont";
    font-size: 1.1rem;
    position: relative;
    color: var(--cor-coral);
}
#input-name{
    position: relative;
    left: 2rem;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
label[for="pet-name"] {
    position: relative;
    top: 0.7rem;
    left: 1.6rem;
}
#input-species{
    top: 3.6rem;
    right: 18.3rem;
    position: relative;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="pet-species"] {
        position: relative;
        top: 4.45rem;
        right: 18.7rem;
    }
#input-age{
    top: 7.2rem;
    right: 37.48rem;
    position: relative;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="pet-age"] {
        position: relative;
        top: 7.85rem;
        right: 37.9rem;
    }

#input-race{
    position: relative;
    right: 56.15rem;
    top: 10.8rem;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="pet-race"] {
        position: relative;
        top: 11.6rem;
        right: 56.5rem;
    }
    #input-description {
        margin-top: 10px;
        font-family: "Mont";
        color: var(--cor-contraste);
        font-size: 1rem;
        width: 40rem; /* ou ajuste para o tamanho que deseja */
        height: 5rem;
    }
    label[for="pet-description"] {
        margin-bottom: 5px;
        font-size: 1rem;
        color: var(--cor-contraste);
    }
.descricao{
    position: relative;
    right: 76rem;
    top: 14.7rem;
}
#inputs-pet {
    background-color: var(--cor-branco);
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    margin-top: 2.3rem;
    width: 70rem;
    position: relative;
    left: 11rem;
    max-width: 100%;
    height: 30rem;
    border-radius: 0px 20px 20px 20px;
    box-sizing: border-box;
}
#inputs-pet img{
    position: relative;
    top: 0.5rem;
    width: 20rem; 
    height: 20rem;
    object-fit: cover; 
}

/* Ultilitarios */
#logo{
    margin-left: 1rem;
    margin-top: -1rem;
    width: 10%;
    height: 10%;
}