/* CORES */
:root {
    --cor-coral: #FF8C94;
    --cor-branco: #FFFFFF;
    --cor-contraste: #5B2E91; 
}

/*Layout */
#main-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -1.0rem;
    width: 100%;
    background-color: var(--cor-contraste);
    }

#container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#buttons-pet{
    display: flex;
    position: relative;
    top: -6rem;
    left: 20rem;
    gap: 20px;
}
#buttons-pet button{
    width: auto;
    color: var(--cor-contraste);
    font-family: "Mont";
    height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
#pet-edit{
    display: flex;
    border-radius: 0px 20px 20px 20px;
    margin-top: 1.5rem;
    width: 50rem;
    position: relative;
    right: 1rem;
    height: 20rem;  
    background-color: var(--cor-branco);
    margin-left: 4rem;
    margin-bottom: 25px;
}
/*Componentes */
#pet-edit button{
    position: relative;
    top: -10rem;
    left: 13rem;
    width: auto;
    color: var(--cor-contraste);
    font-family: "Mont";
    height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
#edit-name{
    position: relative;
    top: -18rem;
    left: 22rem;
}
#edit-species{
    position: relative;
    top: -14.5rem;
    left: 9rem;
}
#edit-age{
    position: relative;
    top: -11.2rem;
    right: 4rem;
}
#edit-race{
    position: relative;
    top: -14.9rem;
    left: 22rem;
}
#edit-description{
    position: relative;
    top: -8.3rem;
    left: 9rem;
    width: 17rem;
    height: 4rem;
}
.input-style {
    font-family: "Mont";
    color: var(--cor-contraste);
    width: auto;
    height: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.pet-container {
    display: flex;
    border-radius: 0px 20px 20px 20px;
    margin: 1rem;
    width: 50rem;
    position: relative;
    right: 1rem;
    height: 20rem; 
    background-color: var(--cor-branco);
}
#pet-edit img{
    margin-left: 1rem;
    position: relative;
    top: 0.5rem;
    width: 20rem; 
    height: 19rem;
    object-fit: cover; 
}
.pet-photo {
    border-radius: 0px 20px 20px 20px;
    position: relative;
    width: 310px; 
    height: 310px; 
    overflow: hidden;
    cursor: pointer;
}
#petImage{
    border-radius: 0px 20px 20px 20px;
}
.pet-photo img {
    margin-left: 0.5rem;
    position: relative;
    top: 0.5rem;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white; 
    font-size: 24px; 
}

#name-pet{
    display: flex;
    justify-content: center;
    width: 20rem;
    color: var(--cor-contraste);
    position: relative;
    margin-left: 5rem;
    margin-top: 1.5rem;
    top: 0.3rem;
    font-family: "Cremy";
    font-size: 2rem;
}
#name {
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -3.2rem;
    left: 13rem;
    color: var(--cor-coral);
}
#age-pet{
    position: relative;
    font-family: "Mont";
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--cor-contraste);
    left: 12rem;
    top: -2.0rem;
}
#age {
    font-family: "Mont";
    font-size: 1.1rem;
    position: relative;
    top: -4.85rem;
    left: 13rem;
    color: var(--cor-coral);
}
#species-pet{
    position: relative;
    top: 1rem;
    font-family: "Mont";
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--cor-contraste);
}
#species{
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -1.8rem;
    left: 1.9rem;
    color: var(--cor-coral);
}
#race-pet{
    position: relative;
    top: -5.3rem;
    font-family: "Mont";
    font-size: 1.5rem;
    left: 21.5rem;
    color: var(--cor-contraste);
}
#race{
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -8rem;
    left: 23rem;
    color: var(--cor-coral);
}
#description p{
    font-family: "Mont";
    font-size: 1rem;
    position: relative;
    top: -12rem;
    left: 1.8rem;
    color: var(--cor-coral);  
}
#description-pet{
    position:  relative;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
    top: -3.5rem;
    left: 1.8rem;
    width: 25rem;
    height: 7rem;
}
#no-pets-message{
    margin: 1rem;
    border-radius: 0px 4px 4px 4px;
    background-color: var(--cor-branco);
    width: auto;
    height: 1.5rem;
    color: var(--cor-contraste); 
    font-size: 1rem;
    font-family: "Mont";
}

/* Logo */
#logo{
    margin-left: 1rem;
    margin-top: -1rem;
    width: 10%;
    height: 10%;
}

/* Menu Topo*/
.menu-topo {
    margin-right: 10rem;
    margin-top: 0.5rem;
}
.menu-topo a {
    color: var(--cor-contraste);
    font-family: "Mont";
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: none;
    position: relative; 
}
.menu-topo a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 2px; 
    width: 0; 
    background-color: var(--cor-coral); 
    transition: width 0.3s ease; 
}
.menu-topo a:hover::after {
    width: 100%; 
}
@media (max-width: 768px) {
    #container-topo {
        align-items: center;
        padding: 1rem;
    }

    #logo {
        position: relative;
        right: 1.2rem;
        width: 25%;
        margin: 0.1rem 0;
    }
    .menu-topo {
        position: relative;
        display: flex;
        margin-top: 0.5rem;
    }
    .menu-topo a {
        color: var(--cor-contraste);
        font-family: "Mont";
        font-size: 1rem;
        padding: 10px;
        text-decoration: none;
        position: relative;
        text-align: center 
    }
    body{
        overflow-x: hidden;
    }
    .pet-container {
        position: relative;
        right: 1.5rem;
        left: 0rem;
        flex-direction: column;
        align-items: center;
        width: 19.8rem;
        height: auto;
        margin: 0.5rem ;
        padding: 1rem;
        box-sizing: border-box;
    }

    #pet-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: auto;
    }

    #name-pet{
        right: 2.4rem;
        top: -1.2rem;
    }
    #species-pet{
        right: 1rem;
        top: -2.4rem;
    }
    #age-pet{
        position: relative;
        top: -2.5rem;
        right: 0rem;
        left: -1rem;
        
    } 
    #race-pet{
        left: 0.2rem;
        top: -2.4rem;
    }
    #description-pet {
        left: 0.2rem;
        top: -2.3rem;
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem 0;
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem auto;
        width: 90%; /* Ajusta a largura da div para que o texto caiba */
        overflow-wrap: break-word; /* Quebra o texto, se necessário */
    }
    #description p{
        left: 0.3rem;
        top: -11.6rem;

    }
    #name, #species, #age, #race {
        left: 0rem;
        top: -6rem;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 0.2rem;
    }

    #buttons-pet {
        justify-content: center;
        gap: 10px;
    }
    #main-pet{
        width: 100%;
        margin: 0rem ;
    }
    #pet-edit {
        margin: 2rem;
        width: 90%;
        height: auto;
        padding: 1rem;
    }
    .pet-photo img{
        border-radius: 0px 20px 20px 20px;
        width: 90%; 
        height: 90%;
        left: 0.4rem;
        object-fit: cover; 
    }
    #buttons-pet button {
        position: relative;
        top: auto;
        padding: 0.5rem 1rem;
    }
    #buttons-pet {
        display: flex;
        position: relative;
        left: 0;
        justify-content: center;
        gap: 1rem; /* Espaçamento entre os botões */
        margin-top: 4rem; /* Espaço entre a descrição e os botões */
    }
}