/* Cores */
:root {
    --cor-coral: #FF8C94;
    --cor-branco: #FFFFFF;
    --cor-contraste: #5B2E91; 
}

/* Layout */
body{
    background-color: #FFFFFF;
    overflow: hidden;
}
#container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-pet {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
    width: 100%;
    height: auto;
    background-color: var(--cor-contraste);
}

/* Componentes Menu topo*/
.menu-topo {
    margin-right: 10rem;
    margin-top: 0.5rem;
}
.menu-topo a {
    color: var(--cor-contraste);
    font-family: "Mont";
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: none;
    position: relative; 
}
.menu-topo a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 0.3rem; 
    width: 0; 
    background-color: var(--cor-coral); 
    transition: width 0.3s ease; 
}
.menu-topo a:hover::after {
    width: 100%; 
}

#Enviar-form{
    height: 3rem;
    width: 12rem;
    position: relative;
    left: 29rem;
    background-color: var(--cor-coral);
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: var(--cor-branco);
    font-weight: 800;
    letter-spacing: 4px;
}

/* Inputs cadastro */

.input-style {
    width: auto;
    height: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
#inputs-pet label {
    font-family: "Mont";
    font-size: 1.1rem;
    position: relative;
    color: var(--cor-coral);
}
#input-name{
    position: relative;
    left: 1.8rem;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
label[for="input-name"] {
    position: relative;
    top: 0.7rem;
    left: 1.6rem;
}
#input-species{
    top: 3.6rem;
    right: 18rem;
    position: relative;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="input-species"] {
        position: relative;
        top: 4.45rem;
        right: 18.3rem;
    }
#input-age{
    top: 7.2rem;
    right: 36.6rem;
    position: relative;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="input-age"] {
        position: relative;
        top: 7.85rem;
        right: 37.2rem;
    }

#input-race{
    position: relative;
    right: 54.7rem;
    top: 10.8rem;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="input-race"] {
        position: relative;
        top: 11.6rem;
        right: 55.8rem;
    }
    #input-description {
        margin-top: 10px;
        font-family: "Mont";
        color: var(--cor-contraste);
        font-size: 1rem;
        width: 40rem; 
        height: 5rem;
    }
    label[for="input-description"] {
        margin-bottom: 5px;
        font-size: 1rem;
    }
.descricao{
    position: relative;
    right: 74rem;
    top: 14.7rem;
}
.descricao p{
    position: relative;
    top: -2.2rem;
    left: 6rem;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1.2rem;
}
#inputs-pet {
    background-color: var(--cor-branco);
    display: flex;
    align-self: center;
    align-items: flex-start;
    padding: 2rem;
    margin: 2rem;
    width: 70rem;
    position: relative;
    max-width: 100%;
    height: 30rem;
    border-radius: 0px 20px 20px 20px;
    box-sizing: border-box;
}
#inputs-pet img{
    position: relative;
    top: 0.5rem;
    width: 20rem; 
    height: 20rem;
    border-radius: 0px 20px 20px 20px;
    object-fit: cover; 
}

/* Ultilitarios */
#logo{
    margin-left: 1rem;
    margin-top: -1rem;
    width: 10%;
    height: 10%;
}
@media (max-width: 768px) {
    #container-topo {
        align-items: center;
        padding: 1rem;
    }
    body{
        overflow: auto;
    }
    #logo {
        position: relative;
        right: 1.2rem;
        width: 25%;
        margin: 0.1rem 0;
    }
    .menu-topo {
        position: relative;
        display: flex;
        margin-top: 0.5rem;
    }
    .menu-topo a {
        color: var(--cor-contraste);
        font-family: "Mont";
        font-size: 1rem;
        padding: 10px;
        left: 2rem;
        text-decoration: none;
        position: relative;
        text-align: center 
    }
    #inputs-pet{
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 19.8rem;
        height: 55rem;
        margin: 0.5rem ;
        padding: 1rem;
        box-sizing: border-box;

    }
    #inputs-pet img{
        border-radius: 0px 20px 20px 20px;
        width: 95%; 
        height: 15rem;
        left: 0.4rem;
        object-fit: cover;
        top: 0; 
        right: 0;
    }
    #petImage{
        border-radius: 0px 20px 20px 20px;
        width: 95%; 
        height: 15rem;
        left: 0.4rem;
        object-fit: cover;
        top: 0; 
        right: 0;
    }
    #input-name,
    #input-species,
    #input-age,
    #input-race,
    #input-description {
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        margin-bottom: 1rem;
    }
    label[for="input-name"] {
        position: relative;
        top: 0rem;
        left: 0rem;
    }
    label[for="input-species"] {
        position: relative;
        top: -0.5rem;
        left: 0rem;
    }
    label[for="input-age"] {
        position: relative;
        top: -0.5rem;
        left: 0rem;
    }
    label[for="input-race"] {
        position: relative;
        top: -0.5rem;
        left: 0rem;
    }
    label[for="input-description"] {
        position: relative;
        top: -0.5rem;
        left: 6rem;
    }
    .descricao{
        position: relative;
        top: 1rem;
        left: 0rem;
    }
    .descricao p {
        position: relative;
        top: 1rem;
        left: 2.8rem;
        font-family: "Mont";
        color: var(--cor-contraste);
        font-size: 1rem;
    }
    #mensagem2{
        left: 3.8rem;
    }
    #mensagem{
        left: 3.2rem;
    }
    #Enviar-form {
        left: 3rem;
        top: 0;
    }
}