/* Cores */
:root {
    --cor-coral: #FF8C94;
    --cor-branco: #FFFFFF;
    --cor-contraste: #5B2E91; 
}

/* Layout */
body{
    background-color: #FFFFFF;
    overflow: hidden;
}
#container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-pet {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
    width: 100%;
    height: auto;
    background-color: var(--cor-contraste);
}

/* Componentes Menu topo*/
.menu-topo {
    margin-right: 10rem;
    margin-top: 0.5rem;
}
.menu-topo a {
    color: var(--cor-contraste);
    font-family: "Mont";
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: none;
    position: relative; 
}
.menu-topo a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 2px; 
    width: 0; 
    background-color: var(--cor-coral); 
    transition: width 0.3s ease; 
}
.menu-topo a:hover::after {
    width: 100%; 
}

#Enviar-form{
    height: 50px;
    width: 200px;
    position: relative;
    left: 29rem;
    background-color: var(--cor-coral);
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: var(--cor-branco);
    font-weight: 800;
    letter-spacing: 4px;
}

/* Inputs cadastro */
.input-style {
    width: auto;
    height: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
#inputs-pet label {
    font-family: "Mont";
    font-size: 1.1rem;
    position: relative;
    color: var(--cor-coral);
}
#input-name{
    position: relative;
    left: 2rem;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
label[for="input-name"] {
    position: relative;
    top: 0.7rem;
    left: 1.6rem;
}
#input-species{
    top: 3.6rem;
    right: 18.3rem;
    position: relative;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="input-species"] {
        position: relative;
        top: 4.45rem;
        right: 18.7rem;
    }
#input-age{
    top: 7.2rem;
    right: 37.48rem;
    position: relative;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="input-age"] {
        position: relative;
        top: 7.85rem;
        right: 37.9rem;
    }

#input-race{
    position: relative;
    right: 56.15rem;
    top: 10.8rem;
    justify-self: center;
    font-family: "Mont";
    color: var(--cor-contraste);
    font-size: 1rem;
}
    label[for="input-race"] {
        position: relative;
        top: 11.6rem;
        right: 56.5rem;
    }
    #input-description {
        margin-top: 10px;
        font-family: "Mont";
        color: var(--cor-contraste);
        font-size: 1rem;
        width: 40rem; /* ou ajuste para o tamanho que deseja */
        height: 5rem;
    }
    label[for="input-description"] {
        margin-bottom: 5px;
        font-size: 1rem;
    }
.descricao{
    position: relative;
    right: 76rem;
    top: 14.7rem;
}
#inputs-pet {
    background-color: var(--cor-branco);
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 30px;
    width: 70rem;
    position: relative;
    left: 11rem;
    max-width: 100%;
    height: 30rem;
    border-radius: 0px 20px 20px 20px;
    box-sizing: border-box;
}
#inputs-pet img{
    position: relative;
    top: 0.5rem;
    width: 20rem; 
    height: 20rem;
    object-fit: cover; 
}

/* Ultilitarios */
#logo{
    margin-left: 1rem;
    margin-top: -1rem;
    width: 10%;
    height: 10%;
}